@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Sen", sans-serif;
}

.landingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
    min-height: 100%;
}

.landingText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.landingText h1{
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.landingText h1 span.blueText{
    color: #2272BC;
}

span.blueText{
    color: #2272BC;
}

.landingText h1 span.redText{
    color: #EF3272;
}

.landingText p{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.landingImageContainer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}  

button.servicesButton{
    font-size: 1.25rem;
    font-weight: lighter;
    color: white;
    background-color: #4B479D;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    border: none;
}

button.servicesButton:hover{
    /* background-color: #3A3683; */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.crayon, .painting, .tools{
    position: absolute;
}

.crayon {
    left: 45vw;
    bottom: 20vh;
}

.tools{
    top: 40vh;
    right: 5vw;
}

.painting{
    z-index: 10;
    top: 20vh;
    right: 40vw;
}

.scrollArrow {
    margin-top: 4rem;
    bottom: 2rem;
    left: 50%;
    width: 45px;
    height: 45px;
    animation: scrollAnimation 5s infinite;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}
  
.scrollDownImage{
    background-color: black;
}

.scrollArrow:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
}

.storyContainer, .missionContainer, .expertiseContainer{
    display: flex;
    margin-top: 15rem;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

.storyContainer h2, .missionContainer h2, .expertiseContainer h2{
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.storyContainer h2 span.yellowText{
    color: #FABB26;
}

.storyContainer p, .missionContainer p{
    font-size: 1.25rem;
}

.expertiseContainer p{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.expertiseContainer li{
    font-size: 1.25rem;
}

.missionContainer h2 span.purpleText{
    color: #4B479D;
}

.expertiseContainer h2 span.redText{
    color: #EF3272;
}

.missionHeaderContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.missionHeaderContainer .starImage{
    margin-left: 2rem;
}

/* Contact Form */
.contactContainer{
    display: flex;
    margin-top: 15rem;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15rem;
}

.contactFormContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
}

.contactContainer h2 {
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.contactFormContainer h2 span.blueText{
    color: #2272BC;
}
  
.contactContainer p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
  
.contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}
  
.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
  
.formGroup label {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
  
.formGroup input,
.formGroup textarea {
    font-family: "Sen", sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
.sendButton {
    font-size: 1.25rem;
    font-weight: lighter;
    color: white;
    background-color: #4B479D;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    cursor: pointer;
    align-self: flex-start;
    border: none;
}
  
.sendButton:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mobileText{
    display: none;
}

p.successMessage{
    margin-top: 1rem;
    color: #479D4A;
    font-weight: bold;
    font-size: 1.25rem;
}

.expertImage{
    margin-right: 3rem;
}

.contactImage{
    margin-left: 3rem;
}

@media screen and (max-width: 1000px) {

    .mobileText{
        display: block;
    }

    .desktopText{
        display: none;
    }
    
    .crayon,
    .painting,
    .tools, .starImage {
      display: none;
    }
  
    .landingImageContainer {
      display: none;
    }
  
    .landingContainer {
        margin-top: 2rem;
      flex-direction: column;
      padding: 0 1rem;
    }
  
    .landingText {
      padding-right: 0;
      text-align: center;
      align-items: center;
    }
  
    .landingText h1 {
      font-size: 2.5rem;
    }

    .storyContainerText h2, .missionContainerText h2, .expertiseContainerText h2, .contactContainer h2{
        font-size: 2.5rem;
    }

    .storyContainerText p, .missionContainerText p, .expertiseContainerText p, .expertiseContainerText li, .contactContainer p, 
    .contactFormContainer p, .formGroup label, .formGroup input, .formGroup textarea, .sendButton, button.servicesButton{
        font-size: 1rem;
    }

    .expertiseContainerText li{
        margin-left: 1rem;
    }
  
    .landingText p {
      font-size: 1rem;
    }

    .scrollArrow{
        margin-bottom: 10rem;
    }
  
    .servicesButton {
      margin-top: 1rem;
    }
  
    .storyContainer,
    .missionContainer,
    .expertiseContainer,
    .contactContainer {
      flex-direction: column;
      margin-top: 5rem;
      width: 100%;
      padding: 0 1rem;
      margin-bottom: 8rem;
    }

    .storyContainer, .missionContainer{
        text-align: center;
    }
  
    .storyImage{
      width: 75%;
      height: 75%;
    }

    .storyImage{
        margin-top: 3rem;
    }

    .contactImage{
        margin-left: 0;
        margin-top: 5rem;
        width: 75%;
        height: 75%;
    }

    .blueBonnetImage{
        width: 30%;
        height: 30%;
        margin-top: 2rem;
    }

    .expertImage{
        display: none;
    }
  
    .missionHeaderContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .missionHeaderContainer .starImage {
      margin-left: 0;
      margin-top: 1rem;
    }
  
    .contactFormContainer {
      width: 100%;
    }
  }